<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youxu.business.dao.DocumentPrintPriceListMapper">
  <resultMap id="BaseResultMap" type="com.youxu.business.pojo.DocumentPrintPriceList">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="document_print_price_list_code" jdbcType="VARCHAR" property="documentPrintPriceListCode" />
    <result column="document_print_price_list_price" jdbcType="DOUBLE" property="documentPrintPriceListPrice" />
    <result column="document_print_price_list_create_time" jdbcType="TIMESTAMP" property="documentPrintPriceListCreateTime" />
    <result column="document_print_price_list_modify_time" jdbcType="TIMESTAMP" property="documentPrintPriceListModifyTime" />
    <result column="document_print_price_list_status" jdbcType="BIT" property="documentPrintPriceListStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, document_print_price_list_code, document_print_price_list_price, document_print_price_list_create_time, 
    document_print_price_list_modify_time, document_print_price_list_status
  </sql>
  <select id="selectByExample" parameterType="com.youxu.business.pojo.DocumentPrintPriceListExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_document_print_price_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.youxu.business.pojo.DocumentPrintPriceListExample">
    delete from tb_document_print_price_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.youxu.business.pojo.DocumentPrintPriceList">
    insert into tb_document_print_price_list (id, document_print_price_list_code, document_print_price_list_price, 
      document_print_price_list_create_time, document_print_price_list_modify_time, 
      document_print_price_list_status)
    values (#{id,jdbcType=INTEGER}, #{documentPrintPriceListCode,jdbcType=VARCHAR}, #{documentPrintPriceListPrice,jdbcType=DOUBLE}, 
      #{documentPrintPriceListCreateTime,jdbcType=TIMESTAMP}, #{documentPrintPriceListModifyTime,jdbcType=TIMESTAMP}, 
      #{documentPrintPriceListStatus,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.youxu.business.pojo.DocumentPrintPriceList">
    insert into tb_document_print_price_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="documentPrintPriceListCode != null">
        document_print_price_list_code,
      </if>
      <if test="documentPrintPriceListPrice != null">
        document_print_price_list_price,
      </if>
      <if test="documentPrintPriceListCreateTime != null">
        document_print_price_list_create_time,
      </if>
      <if test="documentPrintPriceListModifyTime != null">
        document_print_price_list_modify_time,
      </if>
      <if test="documentPrintPriceListStatus != null">
        document_print_price_list_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="documentPrintPriceListCode != null">
        #{documentPrintPriceListCode,jdbcType=VARCHAR},
      </if>
      <if test="documentPrintPriceListPrice != null">
        #{documentPrintPriceListPrice,jdbcType=DOUBLE},
      </if>
      <if test="documentPrintPriceListCreateTime != null">
        #{documentPrintPriceListCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="documentPrintPriceListModifyTime != null">
        #{documentPrintPriceListModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="documentPrintPriceListStatus != null">
        #{documentPrintPriceListStatus,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.youxu.business.pojo.DocumentPrintPriceListExample" resultType="java.lang.Long">
    select count(*) from tb_document_print_price_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_document_print_price_list
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.documentPrintPriceListCode != null">
        document_print_price_list_code = #{record.documentPrintPriceListCode,jdbcType=VARCHAR},
      </if>
      <if test="record.documentPrintPriceListPrice != null">
        document_print_price_list_price = #{record.documentPrintPriceListPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.documentPrintPriceListCreateTime != null">
        document_print_price_list_create_time = #{record.documentPrintPriceListCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.documentPrintPriceListModifyTime != null">
        document_print_price_list_modify_time = #{record.documentPrintPriceListModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.documentPrintPriceListStatus != null">
        document_print_price_list_status = #{record.documentPrintPriceListStatus,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_document_print_price_list
    set id = #{record.id,jdbcType=INTEGER},
      document_print_price_list_code = #{record.documentPrintPriceListCode,jdbcType=VARCHAR},
      document_print_price_list_price = #{record.documentPrintPriceListPrice,jdbcType=DOUBLE},
      document_print_price_list_create_time = #{record.documentPrintPriceListCreateTime,jdbcType=TIMESTAMP},
      document_print_price_list_modify_time = #{record.documentPrintPriceListModifyTime,jdbcType=TIMESTAMP},
      document_print_price_list_status = #{record.documentPrintPriceListStatus,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.youxu.business.pojo.DocumentPrintPriceList">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="document_print_price_list_code" jdbcType="VARCHAR" property="documentPrintPriceListCode" />
    <result column="document_print_price_list_price" jdbcType="DOUBLE" property="documentPrintPriceListPrice" />
    <result column="document_print_price_list_create_time" jdbcType="TIMESTAMP" property="documentPrintPriceListCreateTime" />
    <result column="document_print_price_list_modify_time" jdbcType="TIMESTAMP" property="documentPrintPriceListModifyTime" />
    <result column="document_print_price_list_status" jdbcType="BIT" property="documentPrintPriceListStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, document_print_price_list_code, document_print_price_list_price, document_print_price_list_create_time, 
    document_print_price_list_modify_time, document_print_price_list_status
  </sql>
  <select id="selectByExample" parameterType="com.youxu.business.pojo.DocumentPrintPriceListExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_document_print_price_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.youxu.business.pojo.DocumentPrintPriceListExample">
    delete from tb_document_print_price_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.youxu.business.pojo.DocumentPrintPriceList">
    insert into tb_document_print_price_list (id, document_print_price_list_code, document_print_price_list_price, 
      document_print_price_list_create_time, document_print_price_list_modify_time, 
      document_print_price_list_status)
    values (#{id,jdbcType=INTEGER}, #{documentPrintPriceListCode,jdbcType=VARCHAR}, #{documentPrintPriceListPrice,jdbcType=DOUBLE}, 
      #{documentPrintPriceListCreateTime,jdbcType=TIMESTAMP}, #{documentPrintPriceListModifyTime,jdbcType=TIMESTAMP}, 
      #{documentPrintPriceListStatus,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.youxu.business.pojo.DocumentPrintPriceList">
    insert into tb_document_print_price_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="documentPrintPriceListCode != null">
        document_print_price_list_code,
      </if>
      <if test="documentPrintPriceListPrice != null">
        document_print_price_list_price,
      </if>
      <if test="documentPrintPriceListCreateTime != null">
        document_print_price_list_create_time,
      </if>
      <if test="documentPrintPriceListModifyTime != null">
        document_print_price_list_modify_time,
      </if>
      <if test="documentPrintPriceListStatus != null">
        document_print_price_list_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="documentPrintPriceListCode != null">
        #{documentPrintPriceListCode,jdbcType=VARCHAR},
      </if>
      <if test="documentPrintPriceListPrice != null">
        #{documentPrintPriceListPrice,jdbcType=DOUBLE},
      </if>
      <if test="documentPrintPriceListCreateTime != null">
        #{documentPrintPriceListCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="documentPrintPriceListModifyTime != null">
        #{documentPrintPriceListModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="documentPrintPriceListStatus != null">
        #{documentPrintPriceListStatus,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.youxu.business.pojo.DocumentPrintPriceListExample" resultType="java.lang.Long">
    select count(*) from tb_document_print_price_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
    <update id="updateByExampleSelective" parameterType="map">
    update tb_document_print_price_list
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.documentPrintPriceListCode != null">
        document_print_price_list_code = #{record.documentPrintPriceListCode,jdbcType=VARCHAR},
      </if>
      <if test="record.documentPrintPriceListPrice != null">
        document_print_price_list_price = #{record.documentPrintPriceListPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.documentPrintPriceListCreateTime != null">
        document_print_price_list_create_time = #{record.documentPrintPriceListCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.documentPrintPriceListModifyTime != null">
        document_print_price_list_modify_time = #{record.documentPrintPriceListModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.documentPrintPriceListStatus != null">
        document_print_price_list_status = #{record.documentPrintPriceListStatus,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_document_print_price_list
    set id = #{record.id,jdbcType=INTEGER},
      document_print_price_list_code = #{record.documentPrintPriceListCode,jdbcType=VARCHAR},
      document_print_price_list_price = #{record.documentPrintPriceListPrice,jdbcType=DOUBLE},
      document_print_price_list_create_time = #{record.documentPrintPriceListCreateTime,jdbcType=TIMESTAMP},
      document_print_price_list_modify_time = #{record.documentPrintPriceListModifyTime,jdbcType=TIMESTAMP},
      document_print_price_list_status = #{record.documentPrintPriceListStatus,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <!--获得文档打印规格所对应的价格-->
  <select id="selectDocumentPrintPriceList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from tb_document_print_price_list
    where document_print_price_list_code = #{documentPrintPriceListCode} and document_print_price_list_status = false
  </select>

</mapper>